<!DOCTYPE html>
<head>
<script src="http://code.jquery.com/jquery-latest.js"></script>

<link href="{{=URL('static','css/btaa.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="mainTop">
	<a href="{{=URL('profile','fun','btaa')}}"><img id="mainLogo" src="{{=URL('profile','static/images','btaa.jpg')}}"></a>
		<div id="mainCenter">
			<div id="freeCall">Freecall: 1800 456 456</div>
		<div id="mainTiles">
			<span class="headerTile"  id="mainResources">resources</span>
			<span class="headerTile"  id="mainLinks">links</span>
			<span class="headerTile"  id="mainMedia">media</span>
			<span class="headerTile"  id="mainAbout">about</span>
			<span class="headerTile"  id="mainContact">contact</span>
		</div>
	</div>
</div>
<div id="mainStrip">
	<div class="mainBody">
		<div id="bodyInfo">
			<div id="topQuote"></div>
			Brain Tumour Alliance Australia (BTAA) is the only national brain tumour patient and caregiver organisation in Australia.
			It was established in late 2008 by a group of brain tumour patients and current and former caregivers.
			While welcoming the advice and input of specialists, BTAA seeks to represent the brain tumour community from the viewpoint of the patient, family and caregiver.
			<div id="botQuote"></div>
			
		</div>
		<div id="newsTile">
			<div id="newsHeading">
				NEWS
			</div>
			<div id="newsBody">
				<div id="newsArticle">
					<div id="newsDate">
						31 Oct 2012	
					</div>
					<div id="articleContent">
						Access Matt Pitt's national media release for International Brain Tumour Awareness Week here. Various Members and Senators also wore grey ribbons provided by BTAA. Ms Deb O'Neill MHR made a short speech and mentioned that her brother passed away from a brain tumour earlier this year. Senator Bilyk also moved a Motion in the Senate referring to the Week and on 29 October Qld MHR Peter Dutton outlined the story of a constituent who has a brain tumour.
					</div>
				</div>
				<div id="newsArticle">
					<div id="newsDate">
						23 Oct 2012
					</div>
					<div id="articleContent">
						Click here to download a PDF version of the October BTAA Newsletter (1.6 Mb).
					</div>
				</div>
				<div id="newsArticle">
					<div id="newsDate">
						22 Oct 2012
					</div>
					<div id="articleContent">
						Download the poster advertising the Hats to Help fund-raising dinner on 3 November by clicking here for a PDF copy.
					</div>
				</div>
	
			</div>
		</div>
	</div>
</div>
<div id="resourceSection">
<div class="mainResBody">
	<div id="resourceHeading">
		Resources
	</div>
	<div id="resourceBody">
		<div id="resourceA">
			We strongly recommend the following resources for newly-diagnosed patients and their families:
<BR>
<BR>About Brain Tumors: A Primer fort Patients and Caregivers, published by the American Brain Tumor Association (ABTA) and can be downloaded chapter by chapter (BTAA can also send you a printed copy of the Primer)
<BR><BR>
Al Musella's Virtual Trials website which contains a wealth of information and has a built-in search facility
<BR><BR>
The BrainLife website which is maintained by Giovanni and Elisabetta Camporeale (who is a brain tumour patient)
<BR><BR>
Headlines is a quarterly newsletter produced for brain tumour patients and their families by Rosemary Cashman for the BC (Canada) Cancer Agency and contains articles on specific subjects. The website for the Brain Tumour Foundation of Canada also contains useful resources.
<BR><BR>
Locally, we also recommend a series of Fact Sheets and Resource Sheets for brain tumour patients, family and caregivers, developed by the Cancer Institute NSW NSWOG Neuro-Oncology group, and the booklet Understanding Brain Tumours, developed by the Cancer Council NSW.
		</div>
		<div id="resourceB">
A Fact Sheet on brain tumours and depression and anxiety disorders co-released by Beyond Blue and BTAA: Go to:  www.beyondblue.org.au > Get information > Download information materials and click on Depression and chronic physical illness > Fact sheet 46 Brain tumours, depression and anxiety disorders.
<br><BR>
		Brain tumours and driving: This is a link to the story of one patient and their experience.
<BR><BR>
One man's experience: A presentation given at the Clinical and Professional Day at The Austin Hospital, Victoria, 2012
<BR><BR>
Solidarity symbol: Click on the image below of embroidery thread ready to be woven into a wrist bracelet which you can wear in solidarity with someone who is undergoing radiation therapy/chemotherapy as part of their treatment for a brain tumour. The image is linked to a PDF file of instructions on how tomake the solidarity symbol. Start wearing the woven symbol when your friend commences treatment and only remove it when their treatment has concluded. Our thanks to a breast cancer advocate who thought up this idea and uses it to raise funds for her cause. You could do the same. BTAA is currently developing a list of brain tumour-relevant charities to which Australian supporters can donate.
		</div>
	</div>
</div>
</div>

<div id="aboutSection">
<div class="mainBody">
	<div id="aboutBody">
		<div id="aboutMenu">
			<div id="aboutHeading">
				about
			</div>
			<div class='aboutMenuTile' id="headWho">
				who are we
			</div>
			<div class='aboutMenuTile' id="headMission">
				our mission
			</div>
			<div class='aboutMenuTile' id="headCall">
				Freecall: 1800 857 221
			</div>
			<div class='aboutMenuTile'>
				etc
			</div>
		</div>
		<div id="aboutContent">
			<div id="aboutWe" class="aboutParagraph">
				Brain Tumour Alliance Australia (BTAA) is the only national brain tumour patient and caregiver organisation in Australia. It was established in late 2008 by a group of brain tumour patients and current and former caregivers. While welcoming the advice and input of specialists, BTAA seeks to represent the brain tumour community from the viewpoint of the patient, family and caregiver.
			</div>
			<div id="aboutMission" class="aboutParagraph">
				BTAA is concerned about all brain tumours - paediatric and adult, malignant and so-called benign, and metastatic brain tumours. We believe that brain tumours represent a neglected cancer, which places enormous challenges on the patient and family and requires a unique response and a much increased research effort supported by the community and governments.
			</div>
			<div id="aboutCall" class="aboutParagraph">
				BTAA provides information resources to newly diagnosed patients and their families. It has established a free call 1800 number for peer support (1800 857 221). BTAA can provide trained consumer representatives for brain tumour-relevant advisory bodies. We seek donations to cover the costs of the establishment expenses we have incurred (close to $2,000) which will be initially underwritten by individuals, and our on-going costs to maintain this resource.
			<BR>	The BTAA has a Freecall number: 1800 857 221 (available only in Australia) where you can speak to someone who knows what it is like to travel the brain tumour journey. * Only free to the caller from landlines, not mobiles.
			
			</div>
		</div>
	</div>
</div>

</div>
</body>
<script src="{{=URL('profile','static/js','btaa.js')}}"></script>
</html>