
{{extend 'layout.html'}}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h1>testing facebook comemtns layout</h1>
<h4>and the args are: {{=one_var}}</h4>


<div class="fb-comments" data-href="http://127.0.0.1:8002/profile/fun/ftest?one={{=one_var}}" data-width="570" data-num-posts="5"></div>
<a href="{{=URL('profile','fun','ftest',vars=dict(one='one'))}}">image one</a>
<a href="{{=URL('profile','fun','ftest',vars=dict(one='two'))}}">image TWO</a>
