{{extend 'layout.html'}}
<h1>This is the fun/shed.html template</h1>



<button id="getQuote" >get quote</button>
<script type="text/javascript">

$("#getQuote").click(function(){
	
	getQuote();
})

$(function() {
	alert('cunt')
	
})

	var newArray = [
		[Height,	100,	200,	300,	500,	800],
		[Wdith,	131,	253,	384,	637,	1021],
		[222,	231,	453,	684,	1137,	1821],
		[344,	362,	706,	1068,	1774,	2842],
		[566,	593,	1159,	1752,	2911,	4663],
		[910,	955,	1865,	2820,	4685,	7505]
	]
height?>2.4>2.7>3.0>3.6>4.2
		Type of structure? fully enclosed>open sided>roof only
		Materials? zinc>colour wals and trim>colour
		Width? 3.6?4.2>4.8>5.4>6.0>6.6>7.5>9.0
		Length? 6.0>7.2>9.0>12.0>14.4>18>21.6>25.2
		then Add option
		Roller door smal gable 1>3
		Large Gable 1>3
		Pair of gable doors>1
		triple gable roller doors> 1
		Side roller doors 1>10
		removable mullion >1
		Pa doors 1>6
		windows 1>6

function getQuote(){

	
	
	
	}

</script>